{% extends "base.html" %}

{% block content %}
<div class="homepage-hero">
  <div class="row">
    <div class="small-12 large-9 small-centered columns">
      <div class="logo">
        <img alt="gamefolk logo modern" src="{{ url_for('static', filename='img/gamefolk.png') }}">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 small-centered columns">
    <div class="row">
      <h3 class="text-center"><em>Room Full of Cats</em> Available Soon!</h3>
    </div>
  </div>
</div>
{% endblock %}
