{% extends "base.html" %}

{% block content %}
<div class="homepage-hero">
  <div class="row">
    <div class="small-12 large-9 small-centered columns">
      <div class="logo">
        <img alt="gamefolk logo modern" src="{{ url_for('static', filename='img/gamefolk.png') }}">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <div class="row">
      <h3 class="text-center"><em>Room Full of Cats</em> Available Now!</h3>
    </div>
    <div class="row">
      <div class="small-6 large-6 columns">
        <a href="#">
          <img height="60" width="200" alt="Download on the App Store" src="{{ url_for('static', filename='img/download_on_the_app_store.svg')}}">
        </a>
      </div>
      <div class="small-6 large-6 columns">
        <a href="#">
          <img height="60" width="172" alt="Get it on Google Play" src="{{ url_for('static', filename="img/get_it_on_google_play.png")}}">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
