files:
    "/var/app/app.config":
        mode: "000755"
        owner: root
        group: root
        source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-485091042301/app.config.py

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-us-east-1-485091042301

option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 1800

