<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamefolk Shop</title>
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</head>
<body>
<div id="main">
  <div id="messages">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
      <p class="message flash-{{ category }}">{{ msg }}</p>
    {% endfor %}
  </div>
{% block content %}
{% endblock content %}
</div>
<script>
  $(document).foundation();
</script>
</body>
</html>
