<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamefolk Shop</title>
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</head>
<body>
{% block navbar %}
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ url_for('general.index') }}">Gamefolk Shop</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-form">
      {% if current_user.is_authenticated() %}
        <a href="{{ url_for('users.logout') }}" class="button">Logout</a>
      {% else %}
        <a href="{{ url_for('users.login') }}" class="button">Login</a>
      {% endif %}
      </li>
    </ul>
  </section>
</nav>
{% endblock %}
<div id="messages" class="row">
  {% for category, msg in get_flashed_messages(with_categories=True) %}
  <div data-alert class="alert-box {{ category }}">
    {{ msg }}
    <a href="#" class="close">&times;</a>
  </div>
  {% endfor %}
</div>
{% block content %}
{% endblock content %}
<script>
  $(document).foundation();
</script>
</body>
</html>
