{% extends "base.html" %}

{% block content %}
  <h1>Register for the Gamefolk Shop</h1>
  <form method="POST" action="">
    {{ form.csrf_token }}
    <label for="name">Name</label>
    {{ form.name }}
    <label for="email">Email</label>
    {{ form.email }}
    <label for="password">Password</label>
    {{ form.password }}
    <label for="confirm">Confirm Password</label>
    {{ form.confirm }}
    <label>ReCaptcha</label>
    {{ form.recaptcha }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
