{% extends "base.html" %}

{% from "helpers.html" import render_field %}

{% block content %}
<div class="row">
  <header class="large-9 small-12 column">
    <h1>Sign in</h1>
  </header>
</div>
<div class="row">
  <section class="large-5 small-12 column">
    <form action="" method="post" id="login">
      {{ form.csrf_token }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      <div class="row">
        <div class="large-12 columns">
          <button type="submit">Sign In</button>
        </div>
    </form>
  </section>
</div>
<div class="row">
  <section class="large-9 small-9 column">
    <h2>Not Registered? <a href="{{ url_for('users.register') }}">Click here.</a></h2>
  </section>
</div>
{% endblock %}
