@import 'foundation/scss/foundation';

@keyframes flicker {
  0% { opacity: 1; }
 12% { opacity: 1; }
 14% { opacity: 0; }
 16% { opacity: 1; }
 40% { opacity: 1; }
 48% { opacity: 0; }
 55% { opacity: 1; }
 75% { opacity: 1; }
 80% { opacity: 0; }
 85% { opacity: 1; }
100% { opacity: 1; }
}

.homepage-hero {
    background-color: black;
}

.logo {
    background-image: url('/static/img/gamefolk_retro.png');
    background-size: 100% 100%;

    img {
        height: 100%;
        width: 100%;
        animation: flicker 20s linear infinite;
    }
}

.gamefolk-footer {
    border-top: 1px solid #BBB;
    margin: 1em;
    padding: 1em;

    p {
        margin: 0;
    }
}

.contact-links {
    list-style-type: none;

    li {
        display: inline;
        margin-right: 1em;
    }
}

.cartridge-preview {
  img {
    margin: 0 auto;
    display: block;
  }
}
