{% extends "base.html" %}

{% from "helpers.html" import render_field %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
  <header class="large-9 small-12 column">
    <h1>Reset Your Password</h1>
  </header>
</div>
<div class="row">
  <section class="large-5 small-12 column">
    <form method="POST" action="">
      {% set form = change_password_form %}
      {{ form.csrf_token }}
      {{ render_field(form.password) }}
      {{ render_field(form.new_password) }}
      {{ render_field(form.new_password_confirm) }}
      {{ render_field(form.submit) }}
    </form>
  </section>
</div>
{% endblock %}
