{% extends "base.html" %}

{% from "helpers.html" import render_field %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row">
  <header class="large-9 small-12 column">
    <h1>Forgot Password</h1>
  </header>
</div>
<div class="row">
  <section class="large-5 small-12 column">
    <form method="POST" action="">
      {% set form = forgot_password_form %}
      {{ form.csrf_token }}
      {{ render_field(form.email) }}
      {{ render_field(form.submit) }}
    </form>
  </section>
</div>
{% endblock %}
