{% extends "base.html" %}

{% from "helpers.html" import render_field %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
  <header class="large-9 small-12 column">
    <h1>Register for the Gamefolk Shop</h1>
  </header>
</div>
<div class="row">
  <section class="large-5 small-12 column">
    <form method="POST" action="">
      {% set form = register_user_form %}
      {{ form.csrf_token }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.password_confirm) }}
      {{ render_field(form.recaptcha) }}
      {{ render_field(form.submit) }}
    </form>
  </section>
</div>
{% endblock %}
