<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamefolk.org | {% block title %}{% endblock %}</title>
  {% block styles %}
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  {% endblock %}
  {% block scripts %}
  {% assets "js_all" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% block navbar %}
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ url_for('general.index') }}">Gamefolk.org</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><a href="{{ url_for('guide.guide') }}">Guide</a></li>
      <li><a href="{{ url_for('shop.shop') }}">Shop</a></li>
    </ul>
    <ul class="right">
      <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
      <li class="has-form">
      {% if current_user.is_authenticated() %}
        <a href="{{ url_for('users.logout') }}" class="button">Logout</a>
      {% else %}
        <a href="{{ url_for('users.login') }}" class="button">Login</a>
      {% endif %}
      </li>
    </ul>
  </section>
</nav>
{% endblock %}
<div id="messages" class="row">
  {% for category, msg in get_flashed_messages(with_categories=True) %}
  <div data-alert class="alert-box {{ category }}">
    {{ msg }}
    <a href="#" class="close">&times;</a>
  </div>
  {% endfor %}
</div>
{% block content %}
{% endblock content %}
{% block footer %}
<div class="row">
  <footer class="gamefolk-footer small-10 small-centered columns">
    <div class="small-3 push-9 columns">
      <ul class="contact-links">
        <li><a href="mailto:contact@gamefolk.org">Email</a></li>
        <li><a href="http://github.com/gamefolk">GitHub</a></li>
      </ul>
    </div>
    <div class="small-8 pull-4 columns">
      <p class="footer-logo">Gamefolk</p>
      <small>&copy; 2013-Present Gamefolk LLC</small>
    </div>
  </footer>
</div>
{% endblock %}
<script>
  $(document).foundation();
</script>
</body>
</html>
